.report__header {
  border: 2px solid #444;
  background-color: lighten(#444, 60%);
  padding: 5mm;
  text-align: center;
  margin-bottom: 20mm;

  h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin: 0;
  }

  h2 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 0 2mm 0;
  }
}
