.report__total {
  width: 30%;
  float: right;
  border-collapse: collapse;
  border: 1px solid #444;
  background-color: lighten(#444, 60%);

  th,
  td {
    text-align: right;
    height: 1.5rem;
    padding: 0px 10px;
  }

  &TTC {
    border-top: 1px dotted #444;
  }
}
