.report__table{
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1.5rem;

  thead,
  tbody{
    border-bottom: 2px solid #444;
  }

  th,
  td {
    height: 1.5rem;
  }

  th {
    text-align: right;
  }

  th:nth-of-type(1) {
    width: 15%;
  }
  th:nth-of-type(3) {
    width: 15%;
  }
  th:nth-of-type(4) {
    width: 8%;
  }
  th:nth-of-type(5) {
    width: 15%;
  }

  .expense__category {
    border-bottom: 1px dotted #444;

    td:first-child {
      font-weight: bold;
    }
  }

  .expense__separator + .expense__category {
    border-top: 2px solid #444;
  }

  .expense__separator td {
    height: 0.8rem;
  }
}
