.report {
  width: 210mm;
  min-height: 297mm;
  padding: 10mm;
  margin: 0mm auto;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

@page {
  size: A4;
  margin: 10mm;
}

@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  .report {
    margin: 0;
    width: initial;
    min-height: initial;
    background: initial;
    border: initial;
    box-shadow: initial;
    page-break-after: always;
  }
}
