.expense-item {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.8rem;
  display: flex;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  h4 {
    margin-top: 0;
  }
}
