@import url(style.scss);

.App {
  display: flex;

  &__forms {
    position: sticky;
    top: 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2rem 0;
  }

  &__form,
  &__expense-list {
    padding: 0 2rem;
  }

  &__expense-list {
    overflow-y: auto;
    overflow-x: visible;
  }

  &__report {
    padding: 2rem;
  }

}

@media print {
  .no-print  {
    display: none;
  }
}

